p { font-family:monospace; font-size:12px; text-indent:1em;}
h1 { font-family:monospace; font-size:14px; }
h2 { font-family:monospace; font-size:13px; margin-top:3em; }
h3 { font-family:monospace; font-size:12px; margin-top:3em; }
hr { color: #000000; background-color: #000000; width: 80%; }
ul { font-family:monospace; font-size:10px; }
li { font-family:monospace; font-size:10px; }
td { font-family:monospace; font-size:12px; text-indent:1em;}
